.news-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    background: var(--card-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: 
        background .3s ease-in-out,
        transform .3s ease-in-out, 
        box-shadow .3s ease-in-out;
}
.news-item:hover {
    background: var(--card-hvr-color);
    transform: translateY(-2px);
    box-shadow: 0 0 1rem rgba(0, 216, 255, .75);
    transition: 
        background .2s ease-in-out,
        transform .2s ease-in-out, 
        box-shadow .2s ease-in-out;
}

.news-item-content {
    display: flex;
    gap: 1rem;

    img {
        width: 100%;
        max-height: 140px;
        max-width: 10rem;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
}

.news-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.news-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: var(--text-primary);
    font-weight: bold;
}

.news-meta {
    font-size: 0.8rem;
    color: var(--text-third);
    margin-bottom: 8px;
}

.news-description {
    font-size: 0.9em;
    line-height: 1.4;
    color: var(--text-secondary);
}

.news-item-btns {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
        filter: none;
        transition: scale .2s ease-in-out;
    }
    button:hover {
        scale: 125%;
        transition: scale .2s ease-in-out;
    }
}