h1 {
    text-align: left;
}

/* Search filters*/
.filter-row {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.filter-btn {
    background: none;
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    border-radius: 2rem;
    padding: .25rem .75rem;
    cursor: pointer;
    transition: scale .2s ease-in-out;
}
.filter-btn:hover {
    scale: 105%;
    transition: scale .2s ease-in-out;
}
.filter-btn.selected {
    background: var(--accent-red);
    border-color: var(--accent-red);
    color: white;
}

/* Articles list */
.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 0;
}

.news-item {
    text-align: left;
    background: var(--navbar-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Three items per row with 20px gap */
    /* flex: 1 1 calc(33.3% - 4rem);  */
    width: calc(100% / 3);
    /* max-width: 300px; */

    img {
        width: 100%;
        max-height: 140px;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
}
.news-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 1rem rgba(224, 43, 41, .5);
}

.news-title {
    font-size: 1em;
    margin-bottom: 8px;
    color: var(--text-primary);
    font-weight: bold;
}

.news-meta {
    font-size: 0.8em;
    color: var(--text-third);
    margin-bottom: 8px;
}

.news-description {
    font-size: 0.9em;
    line-height: 1.4;
    color: var(--text-secondary);
}