.nav-container {
    width: 100%;
    border-bottom: 1px solid rgba(211, 211, 211, .5);
    padding: 1rem 0;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Main Row */
.main-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    cursor: default;

    img {
        width: 1.75rem;
        height: 1.75rem;
    }
}

.date {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--text-fourth);
    cursor: default;
}



/* Filter Row */
.directory-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;

}

.directory-btns {
    display: flex;
    align-items: center;
    gap: .5rem;

    button {
        background: rgb(15, 15, 15);
        color: var(--text-primary);
        padding: .25rem .75rem;
        border: none;
        border-radius: .5rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background .3s ease-in-out, padding .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    button:hover {
        background: linear-gradient(to right bottom, rgba(15, 15, 15, .8), rgba(15, 15, 15, 0));
        padding: .25rem 1rem;
        box-shadow: 0 0 1.5rem rgba(0, 216, 255, .5);
        transition: background .5s ease-in-out, padding .5s ease-in-out, box-shadow .5s ease-in-out;
    }
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchbar {
    background: rgb(25, 25, 25);
    border: 1px solid grey;
    color: var(--text-third);
    width: 20rem;
    padding: .5rem 1rem;
    border-radius: 5rem;
    font-size: 1rem;
    transition: box-shadow .3s ease-in-out, border .3s ease-in-out;
}
.searchbar:focus {
    box-shadow: 0 0 1rem rgba(0, 216, 255, .5);
    outline: none;
    border: 1px solid rgba(0, 216, 255, .75);
    transition: box-shadow .5s ease-in-out, border .5s ease-in-out;
}