.nav-container {
    width: 100%;
    border-bottom: 1px solid rgba(211, 211, 211, .5);
    padding: 1rem 0;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Main Row */
.main-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;

    img {
        width: 1.75rem;
        height: 1.75rem;
    }
}

.date {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--text-fourth);
}



/* Filter Row */
.directory-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;

}

.directory-btns {
    display: flex;
    align-items: center;
    gap: .5rem;

    button {
        background: rgb(15, 15, 15);
        color: var(--text-primary);
        padding: .25rem .75rem;
        border: none;
        border-radius: .5rem;
        font-size: 1rem;
        cursor: pointer;
        transition: scale .2s ease-in-out;
    }
    button:hover {
        background: rgb(0, 0, 0);
        scale: 105%;
        transition: scale .2s ease-in-out;
    }
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchbar {
    background: rgb(25, 25, 25);
    border: 1px solid grey;
    color: var(--text-third);
    width: 20rem;
    padding: .5rem 1rem;
    border-radius: 5rem;
    font-size: 1rem;
}